.about{
    flex-grow: 1;
    text-align: left;
    line-height: 23px;
    margin-top: 10vh;
}
.about h1{
    margin-bottom: 20px;
}
.about h3:last-child {
    margin-bottom: 15px;
}
.block{
    margin-top: 3%;
}