.App{
  text-align: center;
  display: flex;
  max-width: 1280px;
  padding: 0 15px;
  min-height: 100vh;
  border-radius: 10px;
  flex-direction: column;
  color: #6b705c;

}
.footer {
  width: 100%;
  padding: 20px 0;
}
.footer a {
  max-width: 60px;
  color: #6b705c;
}
.footer a:not(:last-child) {
  margin-right: 10px;
}
.footer a:hover {
  padding: 5px;
  color: #cb997e;
  transform: scale(0.8);
  background: transparent;
}
@media (min-width: 800px){
  .App{
    padding: 0 100px;
    margin-top: 5vh;
    min-height: 90vh;
  }
}